{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <h2>{{ account.password }}</h2>
    <p>{{ account.username }}</p>

    {% if account %}
        <a href="{{ url('security_logout') }}" class="btn btn-lg btn-primary" type="submit">
            Logout
        </a>
        Logged in as {{ account.username }}
    {% else %}
        <a href="{{ url('security_login') }}" class="btn btn-lg btn-primary">
            Login
        </a>
        Not logged in
    {% endif %}
{% endblock %}