{% extends 'base.html.twig' %}

{% block title %}Account Management{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 text-right my-2">
            Logged in as {{ account.username }}
            <a class="btn btn-lg btn-primary" href="{{ url('security_logout') }}" type="submit">
                Logout
            </a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">{{ 'ACCOUNT.INDEX.GENERAL_INFORMATION'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'ACCOUNT.INDEX.ACCOUNT_NAME'|trans }}</td>
            <td>{{ account.name }}</td>
        </tr>

        <tr>
            <td>{{ 'ACCOUNT.INDEX.E_MAIL'|trans }}</td>
            <td>{{ account.email }}</td>
        </tr>
        <tr>
            <td>{{ 'ACCOUNT.INDEX.CREATED'|trans }}</td>
            <td>{{ account.createDate|date('d F Y H:i') }}</td>
        </tr>

        <tr>
            <td>{{ 'ACCOUNT.INDEX.LAST_LOGIN'|trans }}</td>
            <td>{{ account.lastPremiumDaysUpdate|date('d F Y H:i') }}</td>
        </tr>

        <tr>
            <td>{{ 'ACCOUNT.INDEX.REGISTERED'|trans }} {{ tooltip('TOOLTIP.REGISTER'|trans)|raw }}</td>
            {% if account.key is not empty %}
                <td>{{ 'Yes'|trans }}</td>
            {% else %}
                <td class="text-danger">
                    {{ 'NO'|trans }}
                    ( <a href="{{ url('account_index') }}">{{ 'ACCOUNT.INDEX.REGISTER_BUTTON'|trans }} sads asd as dsa
                        dasdas das dasdas as das</a> )
                </td>
            {% endif %}
        </tr>

        <tr>
            <td>{{ 'ACCOUNT.INDEX.2_STEP_VERIFICATION'|trans }} {{ tooltip('TOOLTIP.2FA'|trans)|raw }}</td>
            {% if account.secret is not empty %}
                <td>
                    {{ 'Yes'|trans }}
                    ( <a href="{{ url('account_disable2FA') }}">{{ 'ACCOUNT.INDEX.DISABLE_2FA'|trans }} </a> )
                    <a class="btn btn-sm btn-success" href="{{ url('account_viewQrCode') }}">
                        {{ 'ACCOUNT.INDEX.VIEW_QR_CODE'|trans }}
                    </a>
                </td>
            {% else %}
                <td class="text-danger">
                    {{ 'NO'|trans }}
                    ( <a href="{{ url('account_enable2FA') }}">{{ 'ACCOUNT.INDEX.ENABLE_2FA'|trans }}</a> )
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('account_change_password') }}">
        {{ 'ACCOUNT.INDEX.CHANGE_PASSWORD_BUTTON'|trans }}
    </a>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('account_change_email') }}">
        {{ 'ACCOUNT.INDEX.CHANGE_EMAIL_BUTTON'|trans }}
    </a>

    {% if account.key is not empty %}
        <a class="btn btn-dark mx-2 my-2" href="{{ url('account_index') }}">
            {{ 'ACCOUNT.INDEX.UNREGISTER_BUTTON'|trans }}
        </a>
    {% else %}
        <a class="btn btn-success mx-2 my-2" href="{{ url('account_index') }}">
            {{ 'ACCOUNT.INDEX.REGISTER_BUTTON'|trans }}
        </a>
    {% endif %}


    {% if account.secret is not empty %}
        <a class="btn btn-dark mx-2 my-2" href="{{ url('account_disable2FA') }}">
            {{ 'ACCOUNT.INDEX.2_STEP_VERIFICATION'|trans }} - {{ 'ACCOUNT.INDEX.DISABLE_2FA'|trans }}
        </a>
    {% else %}
        <a class="btn btn-success mx-2 my-2" href="{{ url('account_enable2FA') }}">
            {{ 'ACCOUNT.INDEX.2_STEP_VERIFICATION'|trans }} - {{ 'ACCOUNT.INDEX.ENABLE_2FA'|trans }}
        </a>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="2">Public Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Real name</td>
            <td>{{ account.realName }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ account.location }}</td>
        </tr>
        <tr>
            <td>Flag</td>
            <td>{{ account.flag }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('account_public_information') }}">
        {{ 'ACCOUNT.INDEX.EDIT_PUBLIC_INFORMATION'|trans }}
    </a>


    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="4">Characters</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for player in account.players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.level }} {{ player.vocation|vocationName }}</td>
                <td>{{ player|playerOnlineStatus }}</td>
                <td>
                    <a class="btn btn-sm btn-primary py-0 my-0" href="{{ url('player_edit', {'id':player.id}) }}">
                        View
                    </a>
                    <a class="btn btn-sm btn-primary py-0 my-0" href="{{ url('player_edit', {'id':player.id}) }}">
                        Edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">You got no characters yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('player_create') }}">
        {{ 'ACCOUNT.INDEX.CREATE_PLAYER'|trans }}
    </a>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('player_delete') }}">
        {{ 'ACCOUNT.INDEX.DELETE_PLAYER'|trans }}
    </a>

    <a class="btn btn-primary mx-2 my-2" href="{{ url('player_undelete') }}">
        {{ 'ACCOUNT.INDEX.UNDELETE_PLAYER'|trans }}
    </a>
{% endblock %}
